.tabs, .tabs2, .tabs3 {
    background-image: url('images/a1.gif');
    width: 100%;
    z-index: 101;
    font-size: 13px;
}

.tabs2 {
    font-size: 10px;
}
.tabs3 {
    font-size: 9px;
}

.tablist {
    margin: 0;
    padding: 0;
    display: table;
}

.tablist li {
    float: left;
    display: table-cell;
    background-image: url('images/a1.gif');
    line-height: 36px;
    list-style: none;
}

.tablist a {
    display: block;
    padding: 0 20px;
    font-weight: bold;
    background-image:url('tab_s.png');
    background-repeat:no-repeat;
    background-position:right;
    color: #ffffff;
    text-shadow: 0px 1px 1px rgba(128, 128, 128, 0.9);
    text-decoration: none;
    outline: none;
}

.tabs3 .tablist a {
    padding: 0 10px;
}

.tablist a:hover {
    background-image: url('images/a2.gif');
    background-repeat:repeat-x;
    color: #fff;
/*    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);*/
    text-decoration: none;
}

.tablist li.current a {
    background-color: LemonChiffon;
    color: #000000;
 /*   text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);*/
}

.tablist li.current a:hover {
	background-image: none;
    background-color: #FEFEF2;
    color: #000000;
 /*   text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);*/
}